
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: 'Pretendard-Regular';

    
}

body {
    display: block;

    margin: 0;
    padding: 0;
    background-color: #fafafa;
}



.body-div{
    background-color: #fefefe;
}

.header-div{

    position: relative;

    display: flex;
    height: 45px;
    background-color: #2f4f4f;
    justify-content: center;
}

.logoNegative {
    
    width: auto;
    height: 80%;

    margin-top: 0.5vh;
}

h1 {
    font-size: 1em;
    
    color: #ffffff;
}

pre{

    font-size: 15px;
}