


<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>

	<script src="https://kit.fontawesome.com/f4ca9edfa4.js" crossorigin="anonymous"></script>
	
	<!-- navbar css -->
 	<link rel="stylesheet" href="/css/common/navbar.css">
	
	<!-- 로그인 모달 창 css -->
	<link rel="stylesheet" href="/css/common/loginModal.css">
		
	<link rel="stylesheet" href="/css/member/changePassword.css">
</head>
	
<body>
	
	<th:block th:replace="~{common/navbar}"></th:block>
	<!-- 로그인 모달창 추가 -->
	<th:block th:replace="~{common/loginModal}"></th:block>
    
	
	<div class="input-group">
        <input type="password" class="changePw" id="changePw" placeholder="비밀번호 입력">
		<button class="button" id="changePwBtn">
			<i class="fa-solid fa-key"></i>
		</button>
    </div>

	<script src="/js/member/changePassword.js"></script>
	
	<!--navbar js-->
	<script src="/js/common/navbar.js"></script>
</body>
</html>







