<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>

	<link rel="icon" href="/favicon6try.ico" type="image/x-icon">
</head>
<body>
    
    <section class="container">

        <div class="main-box">
            
            <div class="inputs">
                <input type="password" class="input" placeholder="변경할 비밀번호"
                       id="currentPw"><br>
                <input type="password" class="input" placeholder="비밀번호 확인"
                       class="currentPwConf"><br>
                
            </div>


            <div class="button-box">
                <button type="button" class="button">변경</button>
            </div>

        </div>

        
    </section>

    
</body>
</html>