<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>

    <link rel="stylesheet" href="/css/member/foundId.css">
	
	<link rel="stylesheet" href="/css/common/navbar.css">
	
	<!-- footer css -->
	<link rel="stylesheet" href="/css/common/footer.css">
</head>
<body>
   
	<th:block th:replace="~{common/navbar}"></th:block>
	
	<form action="/member/foundId" method="POST">
        <section class="big-container">

            <div class="left-container">

                <pre class="information">
                    
                    <b>아이디 찾기</b>

                    아이디를 잃어버리셨나요 ?
                    
                    
                    가입 당시 사용하신 휴대폰 번호를 이용하여
                    아이디를 찾을 수 있습니다.

                    
                    ※ 서비스 이용 시, 불편하신 상황에는 
                    고객센터로 문의해주세요
                    
                    고객센터 : 010 - 6702 - 5246
                </pre>
                

                
            </div>

            <div class="right-container">

                <div class="right-input">

                    <input placeholder="성함" id="member-nickname" name="memberNickname"><br>
                    <input placeholder="&#39;-&#39;없이 숫자만 입력하세요" id="member-tel" name="memberTel">
                </div>

                <div>
                    <button type="submit" id="found-id">아이디 찾기</button>
                </div>
            </div>

        </section>
   </form>
	
   <th:block th:replace="~{common/footer}"></th:block>
   <!--navbar js-->
   <script src="/js/common/navbar.js"></script>
	<!--<script src="/js/member/foundId.js"></script>   -->
</body>
</html>
