<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 검색 결과</title>

    <link rel="stylesheet" href="/css/member/idResult.css">
	
	<link rel="stylesheet" href="/css/common/navbar.css">
	
	<!-- footer css -->
	<link rel="stylesheet" href="/css/common/footer.css">
	
	<!-- 로그인 모달 창 css -->
	<link rel="stylesheet" href="/css/common/loginModal.css">
	
	<link rel="icon" href="/favicon6try.ico" type="image/x-icon">
</head>
<body>
	
	<th:block th:replace="~{common/navbar}"></th:block>
	<!-- 로그인 모달창 추가 -->
	<th:block th:replace="~{common/loginModal}"></th:block>
	
	    <section class="container">	
	        <div class="main-box">
				<div id="top-line-div"></div>
	            <div class="inputs">
                    <br>
                    <span th:text="${memberEmail}" id="id-result-span"></span>

                </div>
	        </div>
	    </section>
	
		<th:block th:replace="~{common/footer}"></th:block>
		<!--navbar js-->
		<script src="/js/common/navbar.js"></script>
		<!-- 로그인 모달창 js -->
		<script src="/js/common/loginModal.js"></script>
</body>
</html>

