<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>

    <link rel="stylesheet" href="/css/member/newPw.css">

</head>
<body>
    <form action="/member/rePw" method="POST">
	    <section class="container">
	
	        <div class="main-box">
	            
	            <div class="inputs">
	                <input type="password" class="input" placeholder="변경할 비밀번호"
	                       id="currentPw" name="newPw"><br>
	                <input type="password" class="input" placeholder="비밀번호 확인"
	                       id="currentPwConf" name="newPwConf"><br>
	                <input type="hidden" th:value="${memberEmail}" name="memberEmail">
	            </div>
	
	
	            <div class="button-box">
	                <button type="submit" class="button">변경</button>
	            </div>
	
	        </div>
	  
	    </section>
	</form>
    <script src="/js/member/mewPw.js"></script>
</body>
</html>