<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원탈퇴</title>
	
	<link rel="stylesheet" href="/css/member/witdrawal.css">
</head>

<link rel="stylesheet" href="/secession2.css">

<body>

	
		<section class="big-container">



			<div class="small-container">

				<div class="left-container">

					<img src="/images/Logo.png" class="logo"><!--chee : mi --></img> <!--나중에 경로 바꺼야함 -->
					<br>

					<div>

						<div class="sece-info">
							<br>
							<div class="lines"></div>
							<br>
							고객센터 : 010-6701-5246
						</div>

						<div class="line"></div>

						

					</div>

				</div>

				<div class="right-container">

					<div class="notice">

						<br>
						&nbsp;※ 비밀번호를 입력하시면 회원 탈퇴가 완료됩니다.<br><br><br>

						&nbsp;※ 원치 않으시는 경우 [메인으로] 버튼을 눌러<br><br>
						&nbsp;&nbsp;홈페이지의 메인으로 돌아시기 바랍니다.<br><br><br>

						&nbsp;※ 탈퇴된 회원의 정보는 30일간 유지됩니다.<br>
					</div>

					<div class="input-container">

						<div class="info-input">
							<br>
							<input type="password" placeholder="비밀번호" id="pwInput"><br>
							<br>
							<input type="password" placeholder="비밀번호 확인" id="pwConfInput">
						</div>
					</div>

					<br>

					<div class="info-button">
						<button type="button" id="withdrawal">탈퇴하기</button>
						<button type="button" id="main">메인으로</button>
					</div>

				</div>


		</section>
	
		<script src="/js/member/member.js"></script>
</body>

</html>