<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>게시물 제목</title>


    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/css/common/navbar.css">

	<link rel="stylesheet" href="/css/common/loginModal.css"> 


    <link rel="stylesheet" href="/css/board/boardDetail-style.css">
    <link rel="stylesheet" href="/css/board/comment-style.css">

</head>
<body>

    <th:block th:replace="~{common/navbar}"></th:block>
	
	<th:block th:replace="~{common/loginModal}"></th:block>

    <main>

        <section class="board-detail">  
            <!-- 제목 -->
            <h1 class="board-title">  게시글 제목  </h1>

            <!-- 프로필 + 닉네임 + 작성일 + 조회수 -->
            <div class="board-header">
                <div class="board-writer">

                    <!-- 프로필 이미지 -->
                    <!-- 프로필 이미지가 없을 경우 기본 이미지 출력 -->
                    <img>
                    
                    <!-- 프로필 이미지가 있을 경우 출력-->
                    <img>



                    <span>작성자 닉네임</span>

                    
                    <!-- 좋아요 하트 -->
                    <span class="like-area">
                        
                        <!-- 비동기로 좋아요 누를 때 동작 (4/22 월요일 예정) -->
                        <!-- 좋아요 누른적이 있으면 fa-solid, 없으면 fa-regular 클래스 추가 -->
                        <i class="fa-heart" id="boardLike"></i>

                        <!-- 좋아요 개수 -->
                        <span>0</span>
                    </span>

                </div>

                <div class="board-info">
                    <p> <span>작성일</span></p>     

                    <!-- 수정한 게시글인 경우 -->

                    <!-- 참조하는 객체가 있으면 true, 없으면 false -->
                    <p> 
                        <span>마지막 수정일</span>
                    </p>   

                    <!--  (4/22 월요일 예정) -->
                    <p> <span>조회수</span> </p>                    
                </div>
            </div>



            <!-- ====================== 이미지가 있을 경우 출력하는 구문  ====================== -->
           

            <!-- 썸네일이 있을 경우 -->
            <h5>썸네일</h5>
            <div class="img-box">
                <div class="boardImg thumbnail">
                    <img>                     
                    
                    <a>다운로드</a>         
                </div>
            </div>
            
            
           
              
            <h5>업로드 이미지</h5>                                      
            <div class="img-box">
                <div class="boardImg">

                    <img>  

                    <a>다운로드</a>                
                </div>
            </div>
                
            <!-- ====================== 이미지가 있을 경우 출력하는 구문 ====================== -->
            
            <!-- 내용 -->
            <div class="board-content">내용</div>



            <!-- 버튼 영역-->
            <div class="board-btn-area">
   
                <button id="updateBtn">수정</button>
                <button id="deleteBtn">삭제(GET)</button>
                <button id="deleteBtn2">삭제(POST)</button>
				
                <button id="goToListBtn">목록으로</button>
				
            </div>

        </section>


        <!-- 댓글 영역-->
        <!-- <th:block th:replace="~{board/comment}"></th:block> -->

    </main>


    <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>