body {

	display: flex;

	justify-content: center;
	align-items: center;

	height: 100vh;
	width: 100vw
}

input {
	width: 400px;
	height: 40px;

	border: 1px solid lightgrey;

	outline: none;

}
/*
.input-group {
	display: inline-block;
	position: relative;
}

.input-group input[type="text"] {

	padding-right: 40px;
	

}

.changePw{
	 box-sizing: border-box; 
}

.button{
	
	border: 1px solid lightgrey;
	width : 40px;
	height: 40px;
}*/

.input-group {
    display: flex;
    align-items: center;
}

.changePw {
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px 0 0 5px;
    
     font-size: 16px;
}

.button {
    padding: 10px;
    border: 1px solid lightgrey;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #FFFFFF;
    
    background-color: darkslategray;
    
    cursor: pointer;

	height : 62px;
	width : 60px;
	
	transition: color 0.4s,  background-color 0.4s;
}


.button:hover{
	
	border: 1px outset darkslategray;
    color: darkslategray;
    background-color: white;
}

 .button:active {
	
	border: 1px outset darkslategray;
	color : #FFFFFF;
	background-color: darkslategray;
}

.fa-solid.fa-key{
	
	color: white;
}

.fa-solid.fa-key:hover{
	
	color: darkslategrey
}


/*
.input-group i {

	position: absolute;
	top: 0;
	right: 0;

	padding: 10px 10px;

}

fa-solid.fa-key::before {

	width: 40px;
	height: 40px;
}*/