@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

body {
    margin: 0;
    padding: 0;
}


.container{

    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

}

.main-box{

    border: none;
    box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2); /* 그림자 추가 */ 
    
    display: flex;

    flex-direction: column;
    align-items: center;

    width: 25vw;
    height: 60vh;
    transition: box-shadow 0.5s;
    box-shadow: 1px 12px 24px rgba(0, 0, 0, 0.2); /* 그림자 추가 */ 
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

    
}
#first-div-inner{
	width: 100%;
	height: 5%;
	background-color: darkslategray;
}
#second-div-inner{
	height: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}
    
.main-box:hover{


}

.inputs{

    display: flex;

    flex-direction: column;
    justify-content: space-between;
    
    height: 5vh;
}

#pwFormInfo{
	
	font-size: 12px;
	color:coral;
}

.newPw{
    border: none;
    border: 1.5px solid lightgray;
    outline: none;
    width : 200px;
    padding: 7px;
    transition: transform 0.3s ease;
    font-size: 15px;
    border-radius: 3px;
    margin-bottom: 1vh;
    height: 5vh;
}


.button-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8vh;
    height: 5vh;
    width: 100%;
}
.button{
    background-color: darkslategray;
    color: #FFFFFF;
	border: none;
    height: 4vh;
    width : 5vw;
    font-size: 15px;
    border-radius: 2px;
    transition: box-shadow 0.3s;
 	cursor:pointer;
}
.button:hover{
    box-shadow: 1px 12px 24px rgba(0, 0, 0, 0.2); /* 그림자 추가 */ 

}
.button:active{
    box-shadow: 1px 12px 24px rgba(0, 0, 0, 0.3); /* 그림자 추가 */ 
}


