/* 링크 달아야함 */
    @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

    *{
        font-family: 'Pretendard-Regular';
    }

    body{
        background-color: #f5f5f5;
    }

    .big-container{

        position: relative;
        display: flex;

        justify-content: center;
        align-items: center;

        flex-direction : column;
        
        width: 100vw;
        height: 100vh;

        background-color: none;
    }

    .small-container{

        display: flex;
        display: flex;
        background-color: #fff;
        z-index: 1;
    }

    

    .left-container{

        border: 0px solid lightgray;

        display: flex;

        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 25vw;
        height: 65vh;

        box-shadow: 3px 3px 3px lightgray;
        border-bottom-left-radius: 10px;
        
        
    }

            .sece-info{

                display: flex;
                flex-direction: column;

                align-items: center;

                margin-top: 2vh;
                
            }

            .logo{


                margin-top: 3vh;
                margin-bottom: 2vh;
            }

            

    .right-container{

        border: 0px solid lightgray;

        width: 25vw;
        height: 65vh;

        display: flex;

        justify-content: space-evenly;

        flex-direction: column;
        align-items: center;

        box-shadow: 3px 3px 3px lightgray;

        
        border-bottom-right-radius: 2px;
    }

       
        .notice{


            border : 1px solid lightgray;

            background-color: #ffffff;
            
            font-size: 13px;
            
            height: 18vh;
            width: 20vw;
            margin-top: 3vh;

            padding: 10px;
        }


       
    .input-container{

        width: 25vw;

       
    }

    .info-input{

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        height: 15vh;
        width: 10vw;

        margin-left: 2vw;
    }

    input{
        border: none;
        border-bottom: 1px solid black;
        outline: none; /* 클릭시 외곽선 제거 */
        width : 200px;

        padding: 7px;
    }

    
    
    button{

        background-color: #306D5F;

        color: #FFFFFF;
        
        border:none;
        border-radius: 2px;

        transition: color 0.3s;
        background-color : 0.3s;
    }

        button:hover{

            color: #306D5F;
            background-color: white;

        }  
        


    .line {
        width: 200px;
        height: 2px; /* 선의 두께 설정 */
       /* background: linear-gradient(to right, #6E6EF5, #2F4F4F); 그라데이션 색상 및 방향 설정 */
       background: #306D5F;

    }



        .info-btn{

           
            width :10vw;
           
        }
