<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHee : Mi 이용약관</title>

    <link rel="stylesheet" href="/css/common/dldyddirrhks.css">

	<link rel="icon" href="/favicon6try.ico" type="image/x-icon">
	
</head>
<body>
    <div class="body-div">
        <div class="header-div">
            <a href="/">
                <img src="/images/LogoNegative.png" class="logoNegative">
            </a>
            <h1>이용약관</h1>
        </div>
        <div class="content-area">
            <div class="tab_menu">
                <ul>
                    <li><a href="#" class="agreeBtn" id="a1">CHee:Mi <br> 이용약관</a> </li>
                    <li><a href="#" class="agreeBtn" id="a2">유료서비스 <br> 이용약관</a></li>
                    <li><a href="#" class="agreeBtn" id="a3">CHee:Mi <br> 운영정책</a></li>
                </ul>
            </div>

            <div class="agree_content">

            </div>
        </div>
    </div>

    
    <script src="/js/common/dldyddkrrhks.js"></script>
</body>

</html>
