<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>message.properties 값 출력</title>
	
	<!-- main css -->
	<link rel="stylesheet" href="/css/common/main.css">
	
	<!-- navbar css -->
	<link rel="stylesheet" href="/css/common/navbar.css">
	
	<!-- 로그인 모달 창 css -->
	<link rel="stylesheet" href="/css/common/loginModal.css">

	<!-- footer css -->
	<link rel="stylesheet" href="/css/common/footer.css">

	<!-- templates/common/common.html 조각으로 추가 -->
	<th:block th:replace="~{common/common}"></th:block>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
	<!-- navbar 추가 -->
	<th:block th:replace="~{common/navbar}"></th:block>
	<!-- 로그인 모달창 추가 -->
	<th:block th:replace="~{common/loginModal}"></th:block>

	<div style="width: 100vw; height: 7vh;"></div>
	<div id="home-content-container">
		<div></div>
		<div></div>
		<div></div>		
	</div>

	<div id="full-container">
	  <div id="carouselExampleCaptions" class="carousel slptide" >
		<div class="carousel-indicators">
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
		</div>
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<img class="d-block w-100" id="carousel1">
			<div class="carousel-caption d-none d-md-block soap-box">
			  <h5 style="color: rgb(10,125,169);">Soap Art Class</h5>
			  <p class="p-text" style="color: rgb(10,125,169);">Make your own soap :)</p>
			</div>
		  </div>
		  <div class="carousel-item">
			<img class="d-block w-100" id="carousel2">
			<div class="carousel-caption d-none d-md-block glass-box">
			  <h5 style="color: #fafafa;">Glass Art Class</h5>
			  <p class="p-text" style="color: #fafafa;">Make glitter glasses</p>
			</div>
		  </div>
		  <div class="carousel-item">
			<img class="d-block w-100" id="carousel3">
			<div class="carousel-caption d-none d-md-block draw-box">
			  <h5 style="color: black;">Drawing Class</h5>
			  <p class="p-text" style="color: black;">Let's draw !</p>
			</div>
		  </div>
		  <div class="carousel-item">
			<img class="d-block w-100" id="carousel4">
			<div class="carousel-caption d-none d-md-block leather-box">
			  <h5 style="color: rgb(241, 180, 71);">Leather Crafting Class</h5>
			  <p class="p-text" style="color: rgb(241, 180, 71);">Your own artistic leather craft</p>
			</div>
		  </div>
		  <div class="carousel-item">
			<img class="d-block w-100" id="carousel5">
			<div class="carousel-caption d-none d-md-block cooking-box">
			  <h5 style="color: #fafafa;">Cooking Class</h5>
			  <p class="p-text" style="color: #fafafa;">Let's cook delicious dishes :)</p>
			</div>
		  </div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Next</span>
		</button>
	  </div>
	</div>

	<div id="body-container">
		<div></div>
		<div>
			<th:block th:each="lecture : ${lectureList}">
				<a th:href="|/lecture/showLectureDetail?lectureNo=${lecture.lectureNo}|" class="element-div">
					
					<th:block th:if="${lecture.files != null}">
						<img th:src="|${lecture.files.get(0).filePath}${lecture.files.get(0).fileRename}|"
						class="lecture-img"
						>
					</th:block>
					
					<div th:if="${lecture.files == null}" class="lecture-img-basic">
						<img src="/lecture/file/20240417192203_00001.jpg">
					</div>
					
					<div th:text="|[${lecture.lectureHomeTitle}]|" class="lecture-name">
					</div>
					
					<div th:text="${lecture.lectureHomeContent}" class="lecture-title">	
					</div>
					
					<div th:text="${lecture.formattedEnrollDate}" class="lecture-formatted-enroll-date">
					</div>
					<div></div>
					
					<div th:text="|가격 : ${lecture.price}|" class="lecture-price">
					</div>
					
					<div th:text="|${lecture.memberNickname}|" class="lecture-memberNickname">
						<img src="">
						<span></span>
					</div>
				
				</a>
			</th:block>
		</div>
		<div></div>
	</div>

	<div style="height: 100vh;"></div>

	<th:block th:replace="~{common/footer}"></th:block>
	<!--navbar js-->
	<script src="/js/common/navbar.js"></script>
	<!-- 로그인 모달창 js -->
	<script src="/js/common/loginModal.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>