<div id="navbar">
	<div></div>
	<div>
		<a>아이콘</a>
		<a href="/board/all">자유게시판</a>	
		<!--로그인 됐을 경우-->
		<th:block th:if="${session.loginMember != null}">
			<div id="welcome">
				<img th:with="user=#{user.default.image}"
					 th:src="${session.loginMember.profileImg ?: user}"
					 id="memberProfile"
					 alt="프로필 이미지">	
			</div>
			
			<div id="update-user-info-and-logout-dropdown">
				<div id="update-user-info-and-logout-dropdown-child">
					<a href="/member/myData">내 정보</a>
					<a href="/member/password-validation">비밀번호 변경</a>
					<a href="/member/withdrawal" id="withdrawal">회원 탈퇴하기</a>
					<a href="/member/logout" id="logout">로그아웃</a>
					
				</div>
			</div>
		</th:block>
		
		<!-- 로그인이 되어있지 않을 경우-->
		<th:block th:if="${session.loginMember == null}">
			<button type="button" id="show-login-modal">로그인</button>	
		</th:block>
		
		</div>
	<div></div>
</div>