<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터</title>

    <link rel="stylesheet" href="/css/common/rhrortpsxj.css">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    
</head>
<body id="bodybody">

    
        <div id="body-div">

            <div id="header-div">

                <a href="/">
                    <img src="/images/LogoNegative.png" id="logoNegative">
                </a>
                <h1 id="h1h1">고객센터</h1>
            </div>
        </div>

        

        <section id="container">

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            
                <div class="carousel-inner" id="carousel-inners">

                    <div class="carousel-item active">
                        <img src="/images/rhrortpsxj/ear.png" class="d-block w-100" alt="..." id="hoon1">
                    </div>

                    <div class="carousel-item">
                        <img src="/images/rhrortpsxj/listenMore.jpg" class="d-block w-100" alt="..." id="hoon2">
                    </div>

                    <div class="carousel-item">
                        <img src="/images/rhrortpsxj/gogaek.jpg" class="d-block w-100" alt="..." id="hoon3">
                    </div>

                </div>
            </div>

            <section id="container2">
           
                
    
                <div id="content">
					
                    <div id="line"></div>
										
                    <pre><br>
                        <img src="/images/logo.png" id="logo">
                        <div id="word">
                            CHee : Mi 를 찾아주신 여러분께 감사의 말씀을 전합니다
                                                 서비스 이용 중 불편사항은
                                    유선 또는 E-mail 을 통해 접수받고 있습니다.
                        
                                                  ☏ . 010 - 6701 -5246
                       
                                         E mail . wowns590@naver.com
                        </div>

                    </pre>
                </div>
            
            </section>
            
           
        </section>    
     

       


        
	<footer class="footers"> <div> Copyright ⓒ CHee : Mi Corp. All Rights Reserved. </div> </footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      
</body>
</html>