@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}


#body-container{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


#a1-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3vh;
	font-size: 30px;
}

#a2-container{
	width: 20%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#a2-container-div1,
#a2-container-div2{
	display: flex;
	width: 20vw;
	height: 5vh;
	justify-content: center;
	align-items: center;
}
#a2-container-div1>i:nth-child(1),
#a2-container-div2>i:nth-child(1){
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	border-left: 1px solid lightgray;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
    box-sizing: border-box;
    background-color: white;

	
}
#a2-container-div1>input:nth-child(2),
#a2-container-div2>input:nth-child(2){
	width: 70%;
	height: 100%;
    box-sizing: border-box;
    border: none;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	outline: none;
	font-size: 13px;
    padding-left: 15px;

}
#a2-container-div1>button:nth-child(3),
#a2-container-div2>button:nth-child(3){
	width: 20%;
	height: 100%;
    box-sizing: border-box;
    border: none;
	border-right: 1px solid lightgray;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: darkslategray;
	color: white;
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;
	
}
#a2-container-div1>button:nth-child(3):hover,
#a2-container-div2>button:nth-child(3):hover{
	background-color: lightgray;
	color: darkslategray;
}
#a2-container-div2{
	margin-top: 0.3vh;
}












