<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>message.properties 값 출력</title>
	
	<!-- main css -->
	<link rel="stylesheet" href="/css/management/registerMember.css">
	
	<!-- navbar css -->
	<link rel="stylesheet" href="/css/common/navbar.css">
	
	<!-- 로그인 모달 창 css -->
	<link rel="stylesheet" href="/css/common/loginModal.css">	
	
	<!-- templates/common/common.html 조각으로 추가 -->
	<th:block th:replace="~{common/common}"></th:block>
	
	<link rel="icon" href="/favicon6try.ico" type="image/x-icon">
	
	<!-- footer css -->
	<link rel="stylesheet" href="/css/common/footer.css">
	  
</head>
<body>
	<!-- navbar 추가 -->
	<th:block th:replace="~{common/navbar}"></th:block>
	<!-- 로그인 모달창 추가 -->
	<th:block th:replace="~{common/loginModal}"></th:block>

	<div style="width: 100vw; height: 7vh;"></div>	
	<div id="home-content-container" style="background-color:blue;">
		<div></div>
		<div>
		</div>
		<div></div>		
	</div>
	
	
	
	
	<!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->

	<div id="full-container">
		<div id="first-container">
			<div id="fir-div1"></div>
			<div id="fir-div2">
				<img id="lecture-img" th:src="|${lecture.files.get(0).filePath}${lecture.files.get(0).fileRename}|">
				<div id="rig-div">
					<div id="lecturer">
						<img id="lecturer-img" th:src="|${lecture.profileImg}|">					
						<div th:text="${lecture.memberNickname}"></div>						
					</div>
					<div id="title-div">
						<div th:text="${lecture.lectureHomeTitle}"></div>
					</div>

				</div>
				

			</div>
			<div id="fir-div3"></div>
		</div>
		
		<div id="second-container">
			<div id="sec-div1">
				
			</div>
			<div id="sec-div2">
				<th:block th:each="new1 : ${newBornList}">
					<div class="per-container">
						<div class="date-restnum">
							<div th:text="${new1.lectureDateStr}" class="date-div"></div>
							<div class="restnum-div">
								<i class="fa-solid fa-people-group"></i>  &nbsp; &nbsp;
								<div th:text="${new1.restNum}" class="restnum"></div> &nbsp; / &nbsp;
								<div th:text="|${lecture.acceptableNumber}|"></div> 
							</div>
						</div>
						<div class="list-title">
							<div class="list-title1">참여자</div>
							<div class="list-title2">취소</div>
							<div class="list-title3">결제 건수</div>
							<div class="list-title4">메세지</div>
						</div>
						
						<th:block th:if="${new1.babyList != null and new1.babyList.size() > 0}"
						th:each="baby : ${new1.babyList}" >						
						<div class="point-div">

								<div class="participants-div">
									<img th:src="${baby.profileImg}" class="baby-profile-img">
									<div th:text="${baby.memberNickname}"></div>		
								</div>
								<div class="cancel-div">
									<div class="registered-member" th:text="${baby.registeredMemberNo}" style="display: none;"></div>
									<div class="get-member" th:text="${baby.memberNo}" style="display: none;"></div>
									<div th:text="${baby.registeredMemberFl}" style="display: none;"></div>
									<a th:href="@{/manage/cancelRegister(lectureNo=${lecture.lectureNo}, lectureDate=${new1.lectureDateStr},
									memberNo=${baby.memberNo}, quantity = ${baby.quantity}
									)}" class="cancel-a">
										<i class="fa-solid fa-ban" ></i>										
									</a>


								</div>
								<div class="message-div">
									<div th:text="${baby.quantity}"></div>
								</div>
								<div class="message-div">
									<div class="message-send">
										<i class="fa-regular fa-envelope"></i>
									</div>
								</div>
						</div>
						</th:block>						

					</div>
				</th:block>
			</div>
			<div id="sec-div3">
				
			</div>
			
		</div>	
	</div>
	<!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
	
	<div id="popupLayer" class="popup-hidden">
        <div class="popup-row">
            번호 : <span id="popupMessageNo"></span>
            |
            제목 : <span id="popupMessageTitle"></span>

            <span id="popupClose">&times;</span>
        </div>

        <div class="popup-row">
            확인 여부 : <span id="popupCheck"></span>
            |
            등록일 : <span id="popupRegDate"></span>
        </div>

        <div class="popup-row">
            [내용]
            <div id="popupMessageContent"></div>
        </div>

        <div class="btn-container">
            <button id="updateView">메세지 작성</button>
            <button id="deleteBtn">삭제</button>
        </div>
    </div>

	<div id="updateLayer" class="popup-hidden">
        <div class="popup-row">
          제목 : <input type="text" id="updateTitle">
        </div>

        <div class="popup-row">
            <textarea id="updateContent" cols="50" rows="5"></textarea>
        </div>

        <div class="btn-container">
            <button id="updateBtn">수정</button>     
            <button id="updateCancel">취소</button>     
        </div>
    </div>

	<th:block th:replace="~{common/footer}"></th:block>

	<!--navbar js-->
	<script src="/js/common/navbar.js"></script>

	<script src="/js/common/loginModal.js"></script>

	<script src="/js/management/registeredMember.js"></script>

	<script th:inline="javascript">

	const loginMemberNo = /*[[${session.loginMember.memberNo}]]*/ "로그인회원번호";

	</script>
</body>
</html>