@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}


/* ---------------------fullCalender api css 시작----------------------------------- */
.fc-day-sat, .fc-day-sun { /* 토요일과 일요일에 적용 */
  background-color: #f0f0f0;
}
.fc-toolbar {
  color: darkslategray;
}
.fc-col-header-cell {
	background-color:#e8f3ff;
  color: black;
  font-weight: 100;
}
.selected-date {
  background-color: #e8f3ff !important; /* 선택한 날짜의 배경색 */
  color: #000; /* 선택한 날짜의 글자색 */
}
.fc-button{
	width: 40px;
	font-size: 9px !important;
}

/* ---------------------fullCalender api css ----------------------------------- */
#body-container{
	width: 100vw;
	height: 58vh;
	display:flex;
	padding-bottom: 10vh;
}
#left-container{
	flex-basis: 20%;

}



#mid-container{
	padding-top: 100px;
	padding-left: 20px;
	flex-basis: 50%;
	display:flex;
    flex-wrap: wrap; /* 여러 줄로 아이템을 나열하게 함 */

}
#mid-container > div:nth-child(1){
	flex-basis: 48%;
	height: 100%;
}
#mid-container > div:nth-child(2){
	flex-basis: 50%;
	height: 100%;
	display: flex;
    flex-wrap: wrap; /* 여러 줄로 아이템을 나열하게 함 */
	column-gap : 1rem;
	row-gap: 0rem;	
	padding-left: 2vh;
}
/* 이미지들 사이즈등 조정 */
#lecture-img-main{    
	height: 100%;
	width: 98%;
	object-fit: cover; /* 컨테이너를 채우면서 이미지의 비율 유지 */
	object-position: center; /* 이미지가 잘리는 경우 중심에서 잘리도록 설정 */
	border-radius: 2%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
#lecture-img-sub-1,
#lecture-img-sub-2,
#lecture-img-sub-3,
#lecture-img-sub-4{
	height: 45%;
	width: 45%;
	object-fit: cover; /* 컨테이너를 채우면서 이미지의 비율 유지 */
	object-position: center; /* 이미지가 잘리는 경우 중심에서 잘리도록 설정 */
	border-radius: 2%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

#lecture-img-sub-1:hover,
#lecture-img-sub-2:hover,
#lecture-img-sub-3:hover,
#lecture-img-sub-4:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
#empty-space-div-1{
	width: 100%;
	height: 30px;
}

/*------------------------------option-container----------------------------------------------*/
#option-container{
	display: flex;
}
#option-left{
	flex-basis: 10%;
	padding-left: 20px;
}
#option-mid{
	flex-basis: 60%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 5vh;
	
}
#option-box{
	display: flex;
	justify-content:space-evenly;
	align-items: center;
	width: 80%;
	height: 100%;
		padding-right: 2vw;
		font-weight: bold;


}
#go-to-lecture-intro{
	text-decoration: none;	
	color: darkslategray;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-bottom: 3px solid darkslategray;
	transition: box-shadow 0.3s, border-bottom 0.5s;
}
#go-to-lecture-intro:hover{
	box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.1);
	border-bottom: 3px solid coral;
}
#go-to-lecturer-intro{
	text-decoration: none;	
	color: darkslategray;
	width: 25%;	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-bottom: 3px solid darkslategray;
	transition: box-shadow 0.3s, border-bottom 0.5s;

}
#go-to-lecturer-intro:hover{
	box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.1);
	border-bottom: 3px solid coral;

}
#go-to-review{
	text-decoration: none;	
	color: darkslategray;
	width: 25%;
		display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
		border-bottom: 3px solid darkslategray;
	transition: box-shadow 0.3s, border-bottom 0.5s;

}
#go-to-review:hover{
	box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.1);
	border-bottom: 3px solid coral;

}
#go-to-location{
	text-decoration: none;	
	color: darkslategray;
	width: 25%;
		display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
		border-bottom: 3px solid darkslategray;
	transition: box-shadow 0.3s, border-bottom 0.5s;

}
#go-to-location:hover{
	box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.1);
	border-bottom: 3px solid coral;

}



/*----------------------------- body-container-2 ------------------------------------*/
#body-container-2{
	width: 100vw;
	display:flex;
}
#left-container-2{
	flex-basis: 30%;
}
#mid-container-2{
	padding-top: 40px;
	padding-left: 20px;
	flex-basis: 40%;
	display:flex;
    flex-wrap: wrap; /* 여러 줄로 아이템을 나열하게 함 */

}

#div-1{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	display:flex;
	font-size: 30px;
}
#div-2{
	margin-top: 20px;
	width: 100%;
	height: 100px;
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.1);
}
#div-2:hover{
	box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.2);
}
#start-span{
	color: black;
	box-shadow: inset 0 -10px 0 #D9FCDB; 
}
#how-long-span{
	color: black;
	box-shadow: inset 0 -10px 0 #D9FCDB; 
}
#lecture-level-span{
	color: black;
	box-shadow: inset 0 -10px 0 #D9FCDB; 
}

#div-3{
	margin-top: 5vh;
	width: 100%;
	display:flex;
	
	
	
	
}
#div-3>textarea{
	resize: none;
	width: 100%;
	outline: none;
	font-size: 16px;
	border: none;
	background-color: #fafafa;
	
}

#div-4{
	margin-top: 5vh;
	width: 100%;
	display:flex;
	flex-direction: column;
	background-color: #fafafa;
	border-radius: 10px;
	border: 1px solid black;
	padding-top: 20px;
	padding-left: 20px;
}
#div-4>textarea{
	margin-top: 10px;
	width: 95%;
	border: none;
	background-color: #fafafa;
	resize: none;
	outline: none;
	font-size: 16px;
	height: auto;
}
#div-5{
	width: 100%;
	height: 30vh;
}
#div-6{
	margin-top: 7vh;
	padding-top: 7vh;
	width: 100%;
	border-top: 1px solid gray;
	display: flex;
	flex-direction: column;
}
#div-6>div:nth-child(1){
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;

}
#review-write-container{
	margin-top: 5vh;
	display: flex;	
	height: 4.5vh;
	margin-bottom: 10vh;
	align-items: center;
}
#review-write-div1{
	flex-basis: 3vw;
	height: 4.5vh;

}
#writer-img{
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

#review-write-div2{
	flex-basis: 70%;
	display: flex; 
	margin-left: 0.5vw;
}
#writer-name{
	padding-top: 1vh;
	width: 10%;
	font-weight: bold;
	font-size: 18px;
}
#write-content{
	margin-left: 10px;
	resize: none;
	border: none;
	background-color: #fafafa;
	border-bottom: 1px solid black;
	width: 85%;
	outline: none;
	font-size: 15px;
	height: 3vh;
	margin-top: 1vh;
}
#review-write-btn{
	flex-basis: 5%;
	margin-left: 10px;
	background-color: lightgray;
	color: gray;
	border: none;
	font-size: 16px;
	border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    height: 100%;
	cursor: pointer;
	transition: box-shadow 0.3s;
	
}
#review-write-btn:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);	
}



#review-file-label{
	margin-left: 10px;
	flex-basis: 5%;
	margin-left: 10px;
	background-color: white;
	color: gray;
	border: 1px solid black;
	font-size: 16px;
	border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
	cursor: pointer;
	transition: box-shadow 0.3s;
}
#review-file-label:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);	

}

#review-input-img{
	margin-left: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: none;
}

#x-btn{
	cursor: pointer;
	color: darkslategray;
}


.datgle{
	font-weight: bold;
}

.k123{
	font-weight: bold;
	font-size: 18px;

}


.review-per{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}
.review-per>div:nth-child(1){
	width: 100%;
	height: 20px;
	display: flex;
	align-items: center;

}
.review-per>div:nth-child(1)>img:nth-child(1){
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.review-per>div:nth-child(1)>div:nth-child(2){
	margin-left: 1vw;
	width: 4vw;
}
.review-per>div:nth-child(2){
	margin-top: 1.5vh;
	margin-left: 3.5vw;
	display: flex;
	flex-direction: column;
}
.review-per>div:nth-child(2)>div:nth-child(1){
	display: flex;
}
.review-per>div:nth-child(2)>div:nth-child(2){
	margin-top: 0.5vh;
	font-size: 11px;
	color: gray;
}
.review-per>div:nth-child(2)>img{
	width: 20%;
	height: 16vh;
	margin-top: 1.5vh;
	border-radius: 3px;
	

}

.update-form-div{
	display: none;
	margin-top: 10px;
	margin-left: 3.5vw;
	height: 5vh;

}
.update-form-div> form:nth-child(1){
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}


.update-form-div> form:nth-child(1)>textarea{
	resize: none;
	border: none;
	background-color: #fafafa;
	border-bottom: 1px solid black;
	width: 70%;
	outline: none;
	font-size: 15px;
	display: block;
	height: 70%;
}
.update-form-div> form:nth-child(1)>img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 10px;
}


.update-form-div> form:nth-child(1)>button:nth-child(4){
	flex-basis: 5%;
	margin-left: 10px;
	background-color: beige;
	color: white;
	border: none;
	font-size: 16px;
	border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 13px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
	transition: box-shadow 0.3s;
	cursor: pointer;
	padding: 0;
	padding-right: 8px;
	border: 0.3px solid black;
	
}




.update-form-div> form:nth-child(1)>button:nth-child(4):hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

}

.update-form-div> form:nth-child(1)>label:nth-child(4){
	margin-left: 10px;
	flex-basis: 5%;
	background-color: white;
	color: gray;
	border: 1px solid black;
	font-size: 16px;
	border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
	width: 4vw;
	height: 100%;
}
.update-form-div> form:nth-child(1)>i{
	margin-left: 10px;
}


	

.update-delete-container{
	margin-top: 1vh;
	margin-left: 3.5vw;

}
.update-delete-container>span{
	color: orangered;
	cursor: pointer;
	font-size: 15px;
}
.update-delete-container>a{
	color: orangered;
	text-decoration: none;
	font-size: 15px;


}
.reply-btn{
	width: 6vw;
	height: 3.5vh;
	border: none;
	border-radius: 4px;
	margin-left: 3.5vw;
	margin-top: 0.5vh;
	font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
	font-size: 15px;
}


.reply-input-form-container{
	display: none;
}


.reply-img-div{
	width: 100%;
	height: 4vh;
	display: flex;
	align-items: center;
}

.show-reply-btn{
	font-size: 15px;
	color: royalblue;
	cursor: pointer;
}


.reply-container{
	margin-top: 10px;
	margin-left: 3.5vw;
	padding-top: 1vh;
	border-top: 0.2px solid lightgray;
	display: none;
}


.reply-member-img{

	border-radius: 50%;
	width: 25px;
	height: 25px;
}


.reply-member-nickname{
	margin-left: 0.8vw;
}


.reply-review-content{
	margin-left: 3.5vw;
	margin-top: 1.5vh;
}
.reply-createdate{
	margin-left: 3.5vw;
	font-size: 11px;
	color: gray;
	margin-top:0.5vh;
}
.reply-img{
	width: 30%;
	height: 16vh;
	margin-left: 3.5vw;
	margin-top: 1.5vh;
	border-radius: 3px;
	margin-bottom: 2.2vh;
}
.reply-update-delete-div{
	margin-top: 1vh;
	margin-left: 2.2vw;
	margin-bottom: 2.2vh;
	margin-left: 3.5vw;

}
.reply-update{
	color: orangered;
	cursor: pointer;
	font-size: 15px;
	
}
.reply-delete{
	color: orangered;	
	cursor: pointer;
	font-size: 15px;
}
.reply-update-form{
	margin-top: 10px;
	margin-left: 3.5vw;
	display:none;
	align-items: center;
	height: 4vh;
}

.reply-update-textarea{
	border: none;
	resize: none;
	background-color: #fafafa;
	border-bottom: 1px solid black;
	height: 2vh;
	outline: none;
	width: 20vw;
	font-size: 15px;
	
}


.reply-update-img{
	width: 40px;
	height: 40px;
	margin-left: 1vw;
	display: flex;
	border: none;
	border-radius: 50%;
	
}
.reply-update-save-btn{
	margin-left:1vw;
	border: none;
	color: gray;
	background-color: lightgray;
	width: 2vw;
	height: 80%;
	font-size: 11px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: box-shadow 0.3s;
	cursor: pointer;
	background-color: beige;
	border: 0.3px solid black;
	padding-right: 13px;

	
}
.reply-update-save-btn:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}





.reply-input-form{
	width: 100%;
	height: 5vh;
	display: flex;
	align-items: center;
}

.reply-input-form > img:nth-child(1){

	margin-left: 3.5vw;
	border-radius: 50%;
	width: 30px;
	height: 30px;

}

.reply-input-form > textarea{
	margin-left: 1vw;
	resize: none;
	border: none;
	background-color: #fafafa;
	border-bottom: 1px solid black;
	width: 20vw;
	outline: none;
	font-size: 15px;
	height: 2.8vh;
	margin-top: 1vh;	
}

.dapgle{
	margin-left: 10px;
	padding: 0.7%;
	font-size: 13px;
	border: none;
	color: gray;
	border-radius: 4px;
	width: 1.5vw;
	height: 60%;
	font-size: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: box-shadow 0.3s;

	cursor: pointer;


}
.dapgle:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

}
.reply-file-label{
	padding-left: 0.5%;
	padding-right: 0.5%;
	border: none;
	background-color: white;
	color: gray;
	border-radius: 4px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1vw;
	height: 60%;
	font-size: 13px;
	transition: box-shadow 0.3s;
	cursor: pointer;
}
.reply-file-label:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.reply-file-input{
	display:none;
	
}
.reply-file-label{
	margin-left: 10px;
	
}
.fa-solid{
	margin-left: 10px;
	cursor: pointer;
	color: darkslategray;
}


.reply-file-img{
	display: none;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
#div-7{
	margin-top: 5vh;
	display: flex;
	justify-content: center;
	
}

.current-page{
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e06500;
	background-color: darkslategray;
	width: 30px;
	height: 30px;
	border-radius: 50%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
	transition: color 0.3s, background-color 0.3s;
	margin: 3px;
}

.page-num{
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: darkslategray;
	width: 30px;
	height: 30px;
	border-radius: 50%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
	transition: color 0.3s, background-color 0.3s;
	margin: 3px;
}
.page-num:hover{
	color: darkslategray;
	background-color: white;
}

#div-8{
	border-top: 1px solid gray;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top:7vh;
	padding-top: 7vh;
	font-size: 30px;
}
#div-9{
	margin-top: 5vh;

}
.div-9-child{
	
	color: gray;
	
}



#div-10{
	margin-top: 20px;
	width: 100%;
	background-color: red;
	margin-bottom: 12vh;;
	
}





/*-------------------------- pay-container -----------------------------*/
#pay-container{
	width: 25vw;
	height: 87%;
	background-color: white;
    box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.1);
    position:fixed;
   	right: 0;
   	top: 10vh;
   	margin-right: 30px;
   	display:flex;
   	flex-direction: column;
}
#calendar{
	cursor: pointer;
}

#pay-div-2{
	flex-basis: 35%;
	display:flex;

}
#pay-div-2>div:nth-child(1){
	flex-basis: 10%;
}
#pay-div-2>div:nth-child(2){
	flex-basis: 80%;
}
#pay-div-2>div:nth-child(3){
	flex-basis: 10%;
}

#pay-div-3{
	flex-basis: 2%;
	margin-top : 30px;
	padding-left: 30px;
}
#pay-div-3>span{
	color: black;
}

#pay-div-4{
	flex-basis: 2%;
	margin-top : 10px;
	padding-left: 30px;
}
#pay-div-4>span{
	color: black;
}

#pay-div-5{
	flex-basis: 6%;
	margin-top : 30px;
	padding-left: 30px;
}

#pay-div-6{
	flex-basis: 5%;

	padding-left: 30px;
	margin-top : 30px;
	width: 90%;
	height: 5%;
	display:flex;
	align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);


/*  background-image: linear-gradient(to bottom,white, #ffefdb, #ffe8e8);*/
}
#pay-div-6>span{
	color: black;
}

#pay-div-6:hover{
	
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
#pay-div-7{
	flex-basis: 5%;

	margin-top : 10px;
	padding-left: 30px;

	width: 90%;
	display:flex;
	align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

	
}
#pay-div-7:hover{
	
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
#pay-div-7>span{
	color: black;
}
#pay-div-8{
	flex-basis: 12%;
	display:flex;
	justify-content: center;
	align-items: flex-end;
	height: 100px;
	
}
#pay-div-8>button{
	width: 100%;
	height: 60%;
	border: none;
	background-color: darkslategray;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 16px;
	color:gray;
	cursor: pointer;
	transition: color 0.3s, box-shadow 0.3s;
}
#pay-div-8>button:hover{
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
    color:white;


}
#payment-method-container{
	width: 400px;
	height: 400px;
	background-color: white;
    box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.5);
    position:fixed;
   	display:none;
   	flex-direction: column;
   	border-radius: 3px;
   	align-items: center;
   	
    /* 화면 정 가운데에 배치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);	
    z-index: 1000;
}
#method-x-div{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	border-radius: 50%;
	width: 30px;
	height: 40px;
	transition: box-shadow 0.3s;
	padding-right: 10px;
	cursor: pointer;
	    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);

}
#method-x-div:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

}
	
#card-div{
	margin-top: 10%;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7vh;
	border-radius: 3px;
	border: 1px solid gray;
	transition: color 0.3s, background-color 0.3s;
	cursor: pointer;
}
#card-div:hover{
	background-color: royalblue;
	color: white;
}
#kakao-div{
	margin-top: 2%;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7vh;
	border-radius: 3px;
	border: 1px solid gray;
	transition: color 0.3s, background-color 0.3s;
	cursor: pointer;
}
#kakao-div:hover{
	background-color: #ffd640;
	
}






/* + - 해주는 버튼 */
.quantity-selector {
    display: flex;
    align-items: center;
}

.quantity-selector button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    background-color: darkslategray;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.quantity-selector button:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
}

.quantity-selector input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: none;
}


/*fullCalender css 관련해서 쓴 코드*/
.custom-class {
  background-color: #ff9f89; 
  color: white; 
  height: 2vh;
  display: flex;
  align-items: center;
}
.additional-class {
  border: 1px solid red;
}

















