<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.semi.email.model.mapper.EmailMapper"> 

 	<update id="updateAuthKey">
		UPDATE AUTH_KEY
		SET AUTH_KEY = #{authKey} 		
		WHERE EMAIL = #{inputEmail}
 	</update>
 	
 	<insert id="insertAuthKey">
 		INSERT INTO AUTH_KEY
 		VALUES (SEQ_KEY_NO.NEXTVAL, #{inputEmail}, #{authKey}, DEFAULT)
 	</insert>
 	
 	<select id="checkAuthKey" resultType="_int">
 		SELECT COUNT(*) FROM AUTH_KEY
 		WHERE 
 		EMAIL = #{email}
 		AND
 		AUTH_KEY = #{authKey}
 	</select>
 	
 	
 	
 	
</mapper>