<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.semi.register.model.mapper.LectureRegisterMapper"> 

	<insert id="addAuth">
		INSERT INTO REGISTER_AUTH VALUES 
		(
			SEQ_REGISTER_AUTH_NO.NEXTVAL,
			#{memberNo},
			#{randomNum},
			DEFAULT
		)
	</insert>

	<select id="countRow">
		SELECT COUNT(*)
		FROM "REGISTER_AUTH"
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<delete id="deleteRow">
		DELETE FROM "REGISTER_AUTH"
		WHERE MEMBER_NO = #{memberNo}
	</delete>
	
	
	<select id="findAuthKey">
		SELECT AUTH_KEY FROM "REGISTER_AUTH"
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<update id="updatePassFlag">
		UPDATE REGISTER_AUTH SET 
		PASS_FLAG = 1
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="checkPassFlag">
		SELECT COUNT(*) FROM "REGISTER_AUTH"
		WHERE MEMBER_NO = #{memberNo}
		AND PASS_FLAG = 1
	</select>
	
	<insert id="addLecture" useGeneratedKeys="true" parameterType="RegisterDTO">
		
		<selectKey order="BEFORE" resultType="_int" keyProperty="lectureNo">
			SELECT SEQ_LECTURE_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO "LECTURE"
		VALUES ( #{lectureNo},
				#{memberNo},
				#{field},
				#{lectureHomeTitle},
				#{lectureHomeContent},
				#{lectureTitle},
				#{lectureContent},
				#{price},
				#{instructor},
				#{level},
				#{startTime},
				#{howLong},
				#{acceptableNumber},
				#{acceptableNumber},
				TO_DATE(#{startDate}, 'YYYY-MM-DD'),
				TO_DATE(#{endDate}, 'YYYY-MM-DD'),
				DEFAULT,
				DEFAULT
		)
	</insert>
	
	
	<insert id="addLectureFile">
		INSERT INTO LECTURE_FILE
		VALUES(
			SEQ_LECTURE_FILE_NO.NEXTVAL,
			#{lectureNo},
			#{filePath},
			#{originalName},
			#{fileRename},
			DEFAULT
		)	
	</insert>
	
	<insert id="addLectureAddress">
		INSERT INTO LECTURE_ADDRESS
		VALUES (
			SEQ_LECTURE_ADDRESS_NO.NEXTVAL,
			#{memberNo},
			#{lectureNo},
			#{lecturePostCode},
			#{lectureRoadAddress},
			#{lectureJibunAddress},
			#{lectureDetailAddress}
		)
	</insert>
	
	<insert id="addLectureMap">
		INSERT INTO LECTURE_MAP
		VALUES (
			SEQ_LECTURE_MAP_NO.NEXTVAL,
			#{lectureNo},
			#{latitude},
			#{hardness}
		)
		
	</insert>

	<insert id="addRestNumberPerDate">
		INSERT INTO LECTURE_RESTNUM
		VALUES(SEQ_LECTURE_RESTNUM_NO.NEXTVAL, 
			#{lectureNo},
			#{lectureDate},
			#{restNum}
		)
	</insert>

	<select id="selectMessage">
		SELECT MESSAGE_NO, MEMBER_NO, MESSAGE_TITLE, MESSAGE_CONTENT,
			MESSAGE_CHECK, TO_CHAR(MESSAGE_REGDATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') MESSAGE_REGDATE, REGISTERED_MEMBER_NO
		FROM REGISTERED_MESSAGE
		WHERE REGISTERED_MEMBER_NO = #{registeredMemberNo}
	</select>
	
	<insert id="insertMessage">
		INSERT INTO "REGISTERED_MESSAGE"
		VALUES(
			SEQ_REGISTERED_MESSAGE_NO.NEXTVAL,
			#{memberNo},
			#{messageTitle},
			#{messageContent},
			DEFAULT,
			DEFAULT,
			#{registeredMemberNo},
			#{lectureMemberNo}
		)
	</insert>
	
	<update id="updateMessage">
		UPDATE REGISTERED_MESSAGE SET
		MESSAGE_TITLE = #{messageTitle},
		MESSAGE_CONTENT = #{messageContent}
		WHERE MESSAGE_NO = #{messageNo}
	</update>
	
	<delete id="deleteMessage">
		DELETE FROM REGISTERED_MESSAGE
		WHERE MESSAGE_NO = #{messageNo}
	</delete>
	
	<select id="selectMessageList">
		SELECT MESSAGE_NO, MEMBER_NO, MESSAGE_TITLE, MESSAGE_CONTENT,
		MESSAGE_CHECK, TO_CHAR(MESSAGE_REGDATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') MESSAGE_REGDATE, REGISTERED_MEMBER_NO
		FROM REGISTERED_MESSAGE
	</select>
	
	<select id="messageCount">
		SELECT COUNT(*)
		FROM REGISTERED_MESSAGE
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="showMessage">
		SELECT MESSAGE_NO, R.MEMBER_NO, MESSAGE_TITLE, MESSAGE_CONTENT,
		MESSAGE_CHECK, TO_CHAR(MESSAGE_REGDATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') MESSAGE_REGDATE,
		REGISTERED_MEMBER_NO, LECTURER_MEMBER_NO, MEMBER_NICKNAME, PROFILE_IMG
		FROM REGISTERED_MESSAGE R
		JOIN "MEMBER" M ON (M.MEMBER_NO = R.LECTURER_MEMBER_NO)
		WHERE R.MEMBER_NO = #{memberNo}
	</select>
	
	<update id="updateCheckMessage">
		UPDATE REGISTERED_MESSAGE SET
		MESSAGE_CHECK = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="showMessageList">
		SELECT MESSAGE_NO, MEMBER_NO, MESSAGE_TITLE, MESSAGE_CONTENT,
		MESSAGE_CHECK, TO_CHAR(MESSAGE_REGDATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') MESSAGE_REGDATE, REGISTERED_MEMBER_NO
		FROM REGISTERED_MESSAGE
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="showMessageHref">
		SELECT MESSAGE_NO, MEMBER_NO, MESSAGE_TITLE, MESSAGE_CONTENT,
		MESSAGE_CHECK, TO_CHAR(MESSAGE_REGDATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') MESSAGE_REGDATE, REGISTERED_MEMBER_NO
		FROM REGISTERED_MESSAGE
		WHERE MESSAGE_NO = #{messageNo}
	</select>
	
	<update id="updateShowMessage">
		UPDATE REGISTERED_MESSAGE SET
		MESSAGE_CHECK = 'Y'
		WHERE MESSAGE_NO = #{messageNo}
	</update>
</mapper>